img {
  position: absolute;
  clip: rect(0px,400px,400px,0px);
}
.love span li{
  text-decoration: underline;
  color: red;
  font-family: cursive;
  font-size: 16;
  font-weight: bold;
}
body {
  background-color: yellow;
}
p {
  padding:
}
h1 {
  text-align: center;
}
